.image{
    height: 500px;
    background-image: url("/image/news.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
}
#text{
    font-weight: bold;
    font-size: large;
    margin-left: 170px;
}
#footer{
    height: 30px;
    background-color: blue;
    text-align: center;
    font-weight: bold;

}
#head{
    background-color: brown;
    font-family: "Times New Roman", Times, serif;;
   
}
#main{
    background-color: yellow;
    font-family: "Times New Roman", Times, serif;;
}
.item{
    display: block;
}
.wrapper .item img{
    height: 100px;
    width: 100px;
}