.image{
    height: 500px;
    background-image: url("/image/news.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
}
#text{
    font-weight: bold;
    font-size: large;
    margin-left: 170px;
}
#nav{
    background-color: blue;
}
ul>li>a{
    color: white;
}
#footer{
    height: 30px;
    background-color: blue;
    text-align: center;
    font-weight: bold;

}
.wrapper .item img{
    height: 100px;
    width: 100px;
}
.wrapper{
    height: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cornsilk;
    padding: 10px;
}
.wrapper .items{
    height: 300px;
    min-width: 30%;
    margin: 15px;
    border-radius: 25px;
    flex-flow: column wrap;
    padding: 1px;
    border-bottom: 1px cornsilk;
    background-color: cornsilk;
}
.c-box .content p{
    font-size: 15px;
    color: black;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    background-color: cornsilk;

}
#cont1{
    background-color: cornsilk;
    font-weight: bold;
}
#tit{
    text-align: center;
    font-weight: bold;
}
.c-box .content h2{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 20px;
    color: yellow;  
}